@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
html {
    background-color: rgb(95, 171, 192);
    background-image: linear-gradient(to bottom, rgb(95, 171, 192), rgb(1, 74, 94));
    z-index: 0;
    color: white;
    overflow-x: hidden;
}

h1 {
    font-family: 'Rancho', cursive;
    font-size: 3em;
    text-align: center;
}

h2 {
    font-size: 2em;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#body {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

#corp {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 8em;
    align-items: center;
    margin: 2%;
    background-color: #00000066;
    border-radius: 10px;
}

.case {
    font-family: basier-circle, Helvetica, arial, sans-serif;
    padding: 10px;
    margin: auto;
    width: 15em;
    height: auto;
}

a {
    display: flex;
}

a>img {
    padding-top: 2%;
    position: absolute;
    margin-left: 2%;
}

#img {
    margin-right: 1%;
}

#retour {
    width: 3%;
}

#telecharger {
    width: 2%;
    margin: 2%;
    margin-left: 4%;
}

@media screen and (max-width: 820px) {
    #retour {
        width: 6%;
    }
    #telecharger {
        width: 5%;
    }
}