/*Tablette*/

@media screen and (max-width: 820px) {
    #image {
        display: none;
    }
    #acceuil {
        display: none;
    }
}


/*Téléphone*/

@media screen and (max-width: 820px)  {
    html {
        background: radial-gradient(400px circle at 30% 10%, rgba(42, 52, 128, 0.95), rgba(35, 173, 149, 0)), radial-gradient(300px circle at 73% 60%, rgba(69, 28, 84, .8), rgba(69, 28, 84, 0)), radial-gradient(280px circle at 52% 70%, rgba(220, 123, 67, .95), rgba(220, 123, 67, 0)), radial-gradient(421px circle at 82% 82%, rgba(197, 197, 145, .95), rgba(197, 197, 145, 0)), radial-gradient(450px circle at 42% 65%, rgba(192, 40, 89, 1), rgba(192, 40, 89, 0)), radial-gradient(480px circle at 40% 75%, rgba(192, 40, 89, 1), rgba(192, 40, 89, 0)), radial-gradient(480px circle at 38% 95%, rgba(192, 40, 89, 1), rgba(192, 40, 89, 0)), radial-gradient(435px circle at 65% 73%, rgba(235, 188, 143, 1), rgba(235, 188, 143, 0)), radial-gradient(850px circle at right top, rgba(147, 17, 87, 1), rgba(201, 90, 0, 0.9), rgba(209, 64, 97, .4), rgba(172, 59, 85, 0)), radial-gradient(422px circle at right 75%, rgba(35, 173, 149, .95), rgba(35, 173, 149, 0)), radial-gradient(350px circle at right 50%, rgba(204, 116, 96, 1), rgba(204, 116, 96, 0)), radial-gradient(300px circle at right bottom, rgba(169, 82, 160, 1), rgba(169, 82, 160, 0)), linear-gradient(to right bottom, rgba(71, 17, 77, 0), rgba(66, 36, 201, 0.95) 40%, rgba(30, 17, 77, 0.5) 60%, rgba(71, 17, 77, 0)), linear-gradient(to right, #1c0361, #2044b8);
    }
    article {
        text-align: center;
        background-color: rgba(240, 248, 255, 0);
        margin-bottom: 15%;
    }
  
    #image {
        display: none883;
    }
    #acceuil {
        display: none;
    }
    #nav li ul {
        display: none;
    }
    #nav li:hover ul {
        display: none;
    }
    #nav {
        margin-right: 3%;
    }
    #pdp {
        width: 20%;
        margin-top: 0%;
        display: inline-block;
    }
    #pres {
        margin-left: 1%;
    }
    #nom {
        font-weight: bold;
        padding-left: 1%;
        font-size: 2em;
    }
    /* Projets */
    #projet {
        max-width: 100%;
    }
    #projet p {
        font-size: 1em;
        display: block;
        margin: 1%;
    }
    #projet img {
        width: auto;
        height: 70%;
    }
    #pong {
        display: block;
        text-align: center;
        height: 30vh;
    }
    #lowatem {
        display: block;
        text-align: center;
        height: 30vh;
    }
    #jpo {
        display: block;
        text-align: center;
        height: 30vh;
    }
    #poste {
        display: block;
        text-align: center;
        height: 30vh;
    }
    #scriptbash {
        display: block;
        text-align: center;
        height: 30vh;
    }
    #site {
        display: block;
        text-align: center;
        height: 30vh;
    }
    #vin {
        display: block;
        text-align: center;
        height: 30vh;
    }
    #site img {
        height: 40%;
    }
    /**/
    #moi {
        max-width: auto;
        margin-top: 7em;
    }
    #contact {
        max-width: auto;
        margin-top: 7em;
        margin-bottom: 50%;
    }
    #contact>p {
        font-size: 1em;
        margin-left: 5%;
    }
    #blog {
        width: 20%;
    }
    #moi>img {
        width: 10%;
    }
    #ligne{
        display:none;
    }
}
@media screen and (max-width: 850px) and (orientation:landscape) {
    /* Projets */
    #projet {
        max-width: 100%;
    }
    #projet p {
        font-size: 1em;
        display: block;
        margin: 1%;
    }
    #projet img {
        width: auto;
        height: 70%;
    }
    #pong {
        display: block;
        text-align: center;
        height: 80vh;
    }
    #lowatem {
        display: block;
        text-align: center;
        height: 80vh;
    }
    #jpo {
        display: block;
        text-align: center;
        height: 80vh;
    }
    #poste {
        display: block;
        text-align: center;
        height: 80vh;
    }
    #scriptbash {
        display: block;
        text-align: center;
        height: 80vh;
    }
    #site {
        display: block;
        text-align: center;
        height: 80vh;
    }
    #vin {
        display: block;
        text-align: center;
        height: 80vh;
    }
}