#projet {
  position: relative;
  padding: 100px;
  background: rgb(95, 171, 192);
}

#projet *{
    font-weight: bold;
}

#projet h1 {
  font-size: 3.5em;
  color: black;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

#projet h3 {
  font-family: "Courier New", Courier, monospace;
}

h3 {
  margin-bottom: 2%;
  margin-top: 2%;
}

h2 {
  color: black;
  font-family: "Rancho", cursive;
  font-size: 2em;
}

#nomPro {
  color: white;
  font-family: "Courier New", Courier, monospace;
}

#projet * {
    font-weight: bold;
}

.Droite {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  padding: 2%;
  display: flex;
  justify-content: space-around;
  height: 50vh;
}

.Droite p {
  display: flex;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

.Droite:hover {
  background-color: rgba(255, 255, 255, 0.218);
  border-radius: 40px;
}

.Gauche {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  padding: 2%;
  display: flex;
  justify-content: space-around;
  height: 50vh;
}

.Gauche > p {
  display: flex;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

.Gauche:hover {
  background-color: rgba(255, 255, 255, 0.218);
  border-radius: 40px;
}

.reveal {
  opacity: 0;
  transform: translateY(5%);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1s;
}

#Java {
  margin-top: 2%;
}
